html {
  font: message-box;
  font-size: 12px;
}

/* .state-* selectors for the state of the Firefox Account */
.state-container {
  display: none;
}

.state-container[data-logged-in="unknown"].loginstate-unknown {
  display: unset;
}

.state-container[data-logged-in="true"].loginstate-true {
  display: unset;
}

.state-container[data-logged-in="false"].loginstate-false {
  display: unset;
}

.fetching {
  margin: 2px;
  padding-left: 20px;

  font-style: italic;
  /* reuse the tabbrowser spinner */
  background-image: url(chrome://browser/skin/tabbrowser/pendingpaint.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 15px;
}

.header {
  display: flex;
  background: #eaeff2;
  padding: 5px;
}

.header > div {
  margin: 10px;
  flex-basis: 50%;
  flex-grow: 1;
  display: inline-block;
}

.section-heading {
  font-weight: bold;
  font-size: larger;
}

.section {
  padding-top: 10px;
  padding-bottom: 10px;
}

.collectionLastModified {
  font-size: 70%;
}

.collectionSummary {
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 70%;
}

.profileContainer {
  display: flex;
}

.avatarContainer,
.userInfoContainer {
  display: inline-block;
}

.avatar {
  margin: 10px;
  max-width: 60px;
  border-radius: 50%;
}

.logLevel > select {
  margin-left: 10px;
}

.collection {
  border-top: 1px solid gray;
  padding-top: 3px;
  min-height: 70px;
}

.provider-extra {
  margin-left: 5px;
}

.inline-id {
  border-bottom: 1px;
  border-bottom-color: green;
  border-bottom-style: dotted;
}
/* =============================================================================
  Bookmark tree view
============================================================================= */
.bookmark-description {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 70%;
  color: gray;
}

/* =============================================================================
  Based on their demo
============================================================================= */

.tabs {
  padding-bottom: 6px;
}

.tabs-navigation {
  padding: 0 20px;
  max-height: 50px;
  border-bottom: 1px solid #DDD;
}

.tabs-menu {
  display: table;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tabs-menu-item {
  float: left;
  font-size: 70%;
}

.tabs-menu-item a {
  display: block;
  padding: 0 40px;
  border-bottom: 0;
  color: #A9A9A9;
  cursor: pointer;
}

.tabs-menu-item:not(.is-active) a:hover {
  background: #f4f8f9;
}

.tabs-menu-item.is-active a {
  background: #eaeff2;
  border: 1px solid #DDD;
  border-bottom: 0;
  color: #333;
}

.table-inspector {
  font-family: monospace;
  line-height: 1;
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

.table-inspector th, .table-inspector td {
  border: 1px solid #eee;
  padding: 0.5em 1em;
}

.table-inspector thead tr,
.table-inspector tbody tr:not(.table-inspector-expanded-row) td {
  max-height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 10em;
}

.table-inspector .table-inspector-expanded-row {
  outline: 1px solid #aaa;
}

.table-inspector th {
  border-top: 0;
}

.table-inspector th:first-child,
.table-inspector td:first-child {
  border-left: 0;
}
.table-inspector th:last-child,
.table-inspector td:last-child {
  border-right: 0;
}

.table-inspector tbody tr:last-child {
  border-bottom: 0;
}

.table-inspector thead {
  font-weight: normal;
}

.table-inspector tbody tr:nth-of-type(2n+1) {
  background-color: #eee;
}

.table-inspector-string-cell {
  color: red;
}

.table-inspector-boolean-cell {
  color: blue;
}

.table-inspector-number-cell {
  color: green;
}

.table-inspector .col-children,
.table-inspector .col-parent {
  /* Really the columns should be resizable, but these are the most
     obvious places where that not working hurts */
  min-width: 275px;
}
