.fetching {
  margin: 2px;
  padding-left: 20px;

  font-style: italic;
  /* reuse the tabbrowser spinner */
  background-image: url(chrome://browser/skin/tabbrowser/pendingpaint.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 15px;
}

.collectionLastModified {
  font-size: 50%;
}

#account-info {
  border: 2px solid black;
  padding: 5px;
}

.profileImage {
  max-width: 60px;
  border-radius: 50%;
}

.collection {
  border-top: 1px solid gray;
  padding-top: 3px;
}

/* =============================================================================
  Bookmark tree view
============================================================================= */
.bookmark-description {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: small;
  color: gray;
}

/* =============================================================================
  Based on their demo
============================================================================= */

.tabs {
  border-bottom: 1px solid gray;
  padding-bottom: 6px;
}

.tabs-navigation {
  padding: 0 20px;
  max-height: 50px;
  border-bottom: 1px solid #DDD;
}

.tabs-menu {
  display: table;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tabs-menu-item {
  float: left;
}

.tabs-menu-item a {
  display: block;
  padding: 0 40px;
  border-bottom: 0;
  color: #A9A9A9;
}

.tabs-menu-item:not(.is-active) a:hover {
  color: #3498db;
}

.tabs-menu-item.is-active a {
  background: #fff;
  border: 1px solid #DDD;
  border-top: 2px solid #3498db;
  border-bottom: 0;
  color: #333;
}
